:root{
--nav-color: #BAD9C2 ;
--bg-color: #F2E0C9 ;
--bg-color2: #FFFFFF;
--font-color: #FFFFFF;
--font-color2: #F2E0C9;
--font-color3: #A9DBB4;
--font-dark-color: #A64F3C;
--font-dark-color2: #734C36;
--font-dark-color3: #734C36;
--font-dark-color4: #78866B;
--nav-border-color: #CED4DA;
}


.navbar{
    background-color: var(--nav-color) !important;
}
.navbar-brand{
    color: var(--font-color) !important;
    font-weight: bolder;
}

.nav-search-button{
    background-color: var(--font-color) !important;
    border-color: var(--nav-border-color) !important;
    color: var(--font-color3) !important;
    font-weight: bolder;
}

.drop-item{
    color: var(--font-color) !important;
    font-weight: bolder;
}

.drop-item-inverse{
    color: var(--nav-color) !important;
    font-weight: bolder;
}


.body-content{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color2);
    
}

.form-box{
    width: 25rem !important;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--nav-border-color) !important;
    color: var(--font-dark-color4);
}

.center{
    margin-left: 20px;
    margin-right: 20px;
}


.form-button{
    float: right !important;
    background-color: var(--nav-color) !important;
    border-color: var(--nav-color) !important;
    color: var(--font-color) !important;
}

.profile-box{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    overflow-y: auto;
    padding: 30px;
}

.user-box{
    background-color: var(--bg-color2);
}

.username-box{
    position: relative;
    display: -webkit-inline-flex;
    height: auto;
    width: auto;
    margin-right: 20px;
}

.username-box ul{
    list-style: none;
}


.img-thumbnail-profile-user{
    display: inline-flex;
    position: relative;
    float:  left !important;
    max-width: 190px !important;
    height: 190px !important;
}

.img-thumbnail-profile-projects{
    display: inline-flex;
    position: relative;
    float:  left !important;
    max-width: 150px !important;
    height: 150px !important;
}

.user-projects-box{
    margin-top: 30px !important;
}

.profile-containner-projects{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,300px);
}
.profile-project-item ul{
    list-style-type: none;
    display: grid;
    grid-template-rows: auto;
    
}
/* .profile-project-item{

} */